body, html {
    height: 100%;
    width: 100%;
    background-color: #EFF0E7;
}

.title,
.title-underline {
    padding-bottom: 2.3px;
    line-height: 3;
}

.title-underline {
    border-bottom: 3px solid #363636;
}

i {
    margin: 5px;
}

.button > i {
    margin-left: -3px;
}

.container {
    max-width: 75%;
    width: 75%;
}

.navbar-menu, .navbar-start {
    justify-content: center;
    margin-right: inherit;
}

.footer {
    margin-top: 5%;
}