* {
    --the-dark-blue: rgb(46, 59, 76);
}

body, html {
    height: 100%;
    width: 100%;
    font-family: "Open Sans" !important;
    background-image: url(/assets/images/background.png);
    background-color: rgb(241, 241, 241);
    object-fit: cover;
    object-position: 100% 100%;
}

i {
    margin: 5px;
}

.button > i {
    margin-left: -3px;
}

.container {
    max-width: 85%;
    width: 85%;
}

.footer {
    margin-top: 5%;
    background-color: var(--the-dark-blue);
    color: white;
}

.button {
    background-color: var(--the-dark-blue) !important;
}