#top {
    margin: 3% 0;
}

#right-side {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#right-side .button {
    margin-top: 20px;
}

#banner {
    margin-bottom: 2%;
    width: 60%;
}

#banner img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#we-text {
    text-align: center;
}

#about-us {
    font-weight: 500;
}