#banner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 2%;
}

#writing {
    font-size: 30px;
    text-align: center;
}

#logo-box {
    width: 60%;
}

#logo-box img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.module {
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.title {
    line-height: 2;
    font-weight: bold;
    font-size: 24px;
}

#team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#team .card {
    width: 300px;
    margin: 15px;
}

#team figure img {
    object-fit: cover;
    object-position: 0;
}

#team .role {
    font-style: italic;
}

.title-box {
    margin-bottom: 8px;
    text-align: center;
}

p {
    line-height: 1.6;
}

.horiz-center-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-box {
    margin: 5%;
    height: 10vw;
    width: 10vw;
    background-color: var(--the-dark-blue);
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.icon-box i {
    font-size: 50px;
}

.navbar {
    margin-bottom: 25px;
    background-color: var(--the-dark-blue) !important;
}