#banner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 2%;
}

#writing {
    font-size: 30px;
    text-align: center;
}

#logo-box {
    width: 60%;
}

#logo-box img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.module {
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.title {
    font-size: 20px !important;
    line-height: 2;
}

#team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#team .card {
    width: 300px;
    margin: 10px 4%;
}

#team figure img {
    object-fit: cover;
    object-position: 0;
}

#team .role {
    font-style: italic;
}